<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/styles/itempage.css"/>
   <script src="/index.js" defer></script>
   <title>Laptop | Tech Town</title>
</head>
<body id="body" style="height: 200vh;">

   <div class="main-holder">
      <div class="container">

         <div class="item-part">
            <h1>Laptop</h1>

            <div class="item-container">
               <div class="item-holder">
                  <div class="img-holder">
                     <img alt="item-image" src="/images/dell1.jpg"/>
                  </div>

                  <div class="product-detail-holder">
                     <div class="product-brand">
                        Dell
                     </div>

                     <div class="product-detail">
                        femfreomferm
                     </div>

                     <div class="product-price">
                        $4448484
                     </div>
                  </div>
               </div>

               <div class="item-holder">
                  <div class="img-holder">
                     <img alt="item-image" src="dell1.jpg"/>
                  </div>

                  <div class="product-detail-holder">
                     <div class="product-brand">
                        Dell
                     </div>

                     <div class="product-detail">
                        femfreomferm
                     </div>

                     <div class="product-price">
                        $4448484
                     </div>
                  </div>
               </div>

               <div class="item-holder">
                  <div class="img-holder">
                     <img alt="item-image" src="dell1.jpg"/>
                  </div>

                  <div class="product-detail-holder">
                     <div class="product-brand">
                        Dell
                     </div>

                     <div class="product-detail">
                        femfreomferm
                     </div>

                     <div class="product-price">
                        $4448484
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="right-holder">
            felkmfefef
         </div>

      </div>

      <div class="footer">
         keneknfkenf
      </div>
   </div>
   
</body>
</html>