<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/styles/itempage.css"/>
   <script src="/index.js" defer></script>
   <title>Laptop | Tech Town</title>
</head>
<body id="body">

   <div class="main-holder">
      <div class="slide-holder">
      </div>

      <div class="container">

         <div class="item-part">
            <h1>Laptops</h1>

            <div id="itemContainer" class="item-container">
            </div>
         </div>

         <div class="right-holder">
            <h1>Best Items</h1>
            
            <div id="rightItemPart" class="right-item-part">
            </div>
         </div>

      </div>

      <div class="footer">
         keneknfkenf
      </div>
   </div>
   
</body>
</html>